.container {
  /* Move the rendering container off-screen. */
  position: absolute;
  left: -4000px;

  /* Set the dimensions. */
  width: 100px;
  height: 100px;
}
.ab {
  background-color: green;
  width: 50%;
}
.shape {
  width: 100px;
  border: 2px solid red;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  font-size: 20px;
  margin: 5px 0 20px 0;
}

/* Risk Card */
.risk-card-content {
  border: 2px solid grey;
  width: 250px;
  display: grid;
  box-shadow: 10px 10px lightblue;
}

.risk-card-body {
  height: 150px;
  display: grid;
}

.risk-card-header {
  background-color: #222c3d;
  color: white;
}
.risk-card-header-top {
  background-color: #222c3d;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
}

/* .risk-card-header-top-text {
  } */
.risk-card-header-text {
  margin-left: 15px;
  margin-right: 15px;
}

.risk-card-footer {
  background-color: #e6e6ff;
  color: white;
  height: 70px;
}

/* Control Card */
.control-card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid grey;
  display: grid;
}

.control-card-header {
  background-color: #1b4287;
  color: white;
  text-align: center;
}

.control-card-footer {
  background-color: #5cb85c;
  color: white;
}
