<div class="risk-card-content">
  <div class="risk-card-header-top">
    <p class="risk-card-header-top-text">Risk</p>
  </div>
  <div class="risk-card-header">
    <p class="risk-card-header-text">Protective and Cyber Security Ratings</p>
  </div>
  <div class="risk-card-body">
    <div class="row" style="display: flex">
      <div><p>rating1</p></div>
      <div style="background-color: yellow; width: 50%"><p>rating2</p></div>
    </div>

    <div class="row" style="display: flex">
      <div style="background-color: green; width: 50%"><p>rating3</p></div>

      <div><p>rating4</p></div>
    </div>
  </div>

  <div class="risk-card-footer"></div>
</div>
