<div class="risk-card-content" style="border-radius: 25px">
  <div class="risk-card-header-top" style="border-radius: 25px 25px 0px 0px">
    <p class="risk-card-header-top-text">{{nodeDetail.Title}}</p>
  </div>
  <div class="control-card-body">
    <p>Some text in the Modal Body</p>
    <p>Some other text...</p>
  </div>
</div>
<!-- <div #controlTemplate class="control-card-content panel">
  <div class="panel-header">
      <h3>#= data.text #</h3>
      <button class="toggle-button">+</button>
  </div>
  <div class="panel-content">
       Panel Content Goes Here
  </div>
</div> -->
