<div #controlTemplate class="control-card-content">
  <div class="control-card-header">
    <h4>{{nodeDetail.Title}}</h4>
  </div>
  <div class="control-card-body">
    <p>Some text in the Modal Body</p>
    <p>Some other text...</p>
  </div>
</div>

<!-- <div #controlTemplate class="control-card-content panel">
  <div class="panel-header">
      <h3>#= data.text #</h3>
      <button class="toggle-button">+</button>
  </div>
  <div class="panel-content">
       Panel Content Goes Here
  </div>
</div> -->
