/* Media query for smaller screens (e.g., max-width: 768px) */
@media (max-width: 760px) {

  .bt-analsys-header-txt {
    text-align: left;
    flex-direction: column;
    /* Display buttons in a column for smaller screens */
    align-items: flex-start;
    /* Align text to the left for smaller screens */
  }

  .button-flex {
    flex-direction: column;
    /* Display buttons in a column for smaller screens */
    align-items: flex-start;
    /* Align buttons to the left for smaller screens */
  }

  .bt-Reload,
  .bt-Risk,
  .bt-Kpi,
  .bt-Performance,
  .bt-Expand,
  .btn-Export {
    width: 100%;
    /* Make buttons full-width for smaller screens */
    margin-bottom: 10px;
    /* Add some spacing between buttons */
  }
}
/* .progress-container {
  height: 20px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

/* Style for the progress bar */
/* #progressBar {
  height: 100%;
  width: 0;
  background-color: green;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
}  */






/* .bt-Expand.active {
  background-color: #0050a0 !important;
  color: #fff !important;
} */
.bt-Risk.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.bt-Kpi.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.bt-Performance.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.btActive {
  background-color: #0050a0 !important;
  color: #fff !important;
}



.expand-icon {
  content: url("^assets/bow-tie/icon/expand-icon.png") !important;
  padding: 10px 5px 8px 0px;
}

.collapse-icon {
  content: url("^assets/bow-tie/icon/collapse-icon.png") !important;
  padding: 10px 5px 8px 0px;
}




/* <div kendoTooltip position="bottom" [title]="'zoom'" class="zoom">
<span class="zoomIcon zoomOutIcon" id="zoomOut"></span>
<div  class='slider'></div>
<span class="zoomIcon zoomInIcon" id="zoomIn"></span>
</div> */


/* //create connection lines back from shape */



/* if (kendoDiagram.shapes && Array.isArray(kendoDiagram.shapes)) {
  kendoDiagram.shapes.forEach(function (shape) {
    if (shape) {
      shape.toFront();
    }
  });
}

if (kendoDiagram.connections && Array.isArray(kendoDiagram.connections)) {
  kendoDiagram.connections.forEach(function (connection) {
    if (connection) {
      connection.toBack();
    }
  });
} */


/* var sliders = $(".slider").kendoSlider({
  // orientation: "vertical",
  min: 0.02,
  max: 2,
  smallStep: 0.01,
  largeStep: 0.02,
  value: 0.3,
  tooltip: {
    enabled: true,
  },
  slide: function (e) {
    diagram.zoom(e.value);
  },
  change: function (e) {
    diagram.zoom(e.value);
  }
}).data("kendoSlider"); */






/* 
$("#toolbar").kendoToolBar({
  items: [
    {
      template: `

      <div>
        <h3  class="bt-analsys-header-txt">Bow Tie Analysis</h3>

        <div class="k-actions btn-row-bottom k-actions-end align-items-start button-flex">  

            <div kendoTooltip position="bottom" [title]="'zoom'" class="zoom">
              <span class="zoomIcon zoomOutIcon" id="zoomOut"></span>
              <div  class='slider'></div>
              <span class="zoomIcon zoomInIcon" id="zoomIn"></span>
            </div>

            <div kendoTooltip position="bottom" [title]="'Back'">
            <button type="button" class="bt-Reload btn bow-tie-btn-outline-primary" id="btReload"  style="display: none;">
              <span>Back</span>
            </button>
            </div>

            <div kendoTooltip position="bottom" [title]="'Risk View'">
                <button type="button" class="bt-Risk btn bow-tie-btn-outline-primary" id="btRiskView" >
                  <span>Risk View</span>
                </button>
            </div>

            <div kendoTooltip position="bottom" [title]="'Kpi View'">
                <button type="button" class="bt-Kpi btn bow-tie-btn-outline-primary" id="btKpikView" >
                    <span>Kpi View</span>
                </button>
            </div>

            <div kendoTooltip position="bottom" [title]="'Performance View'">
              <button type="button" class="bt-Performance btn bow-tie-btn-outline-primary" id="btPerformanceView" >
                  <span>Performance View</span>
              </button>
            </div>

            <div kendoTooltip position="bottom" [title]="'Expand Nodes'">
                <button type="button" class="bt-Expand btn bow-tie-btn-outline-primary" id="btExpandView">
                    <span class="expand-icon"></span>
                    <span class="collapse-icon hide-icon"></span>
                    <span class="text">Expand</span>                      
                </button>
            </div>
            

            <div kendoTooltip position="bottom" [title]="'Export Diagram'">
              <button type="button" class="btn-Export btn bow-tie-btn-outline-primary" id="btExport" >
                  <i class="cam-icon cam-i-export" aria-hidden="true"></i>
                  <span>Export</span>
              </button>
            </div>
        </div>                  
    </div>        
        `
    },
  ]
}) */


/* ............................generate connection lines for bottom nodes..................... // if (originalData[i].Title === "Other Node") {
  //   dataConnections.push({
  //     Id: originalData[i].Id,
  //     FromShapeId: originalData[0].Id,
  //     ToShapeId: originalData[i].Id,
  //     Text: null,
  //     fromConnector: "center",
  //     toConnector: "top"
  //   });
  // } */