<div #my class="risk-card-content" style="border-radius: 25px">
  <div class="risk-card-header-top" style="border-radius: 25px 25px 0px 0px">
    <p class="risk-card-header-top-text">Risk</p>
  </div>
  <div class="risk-card-header">
    <p class="risk-card-header-text">Protective and Cyber Security Ratings</p>
  </div>
  <div class="risk-card-body">
    <div class="row" style="display: flex">
      <div style="background-color: blue; width: 50%"><p>rating1</p></div>
      <div style="background-color: red; width: 50%"><p>rating2</p></div>
    </div>
    <div class="row" style="display: flex">
      <div style="background-color: green; width: 50%"><p>rating3</p></div>
      <div style="background-color: yellow; width: 50%"><p>rating4</p></div>
    </div>
  </div>
  <div class="risk-card-footer" style="border-radius: 0px 0px 25px 25px"></div>
</div>
