/* @font-face {

  font-family: "Graphik";

  src: url("./assets/fonts/Graphik.otf");

} */

/* You can add global styles to this file, and also import other style files */
.hide-bow-tie-control-card-content .bow-tie-control-card-content {
  display: none !important;
}

.hide-bow-tie-cause-card-content .bow-tie-cause-card-content {
  display: none !important;
}

.hide-concequences-card-content .bow-tie-consequences-card-content {
  display: none !important;
}

.hide-bow-tie-risk-card-content .bow-tie-risk-card-content {
  display: none !important;
}

.toggle-button {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding: 0 8px;
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  /* Move the rendering container off-screen. */
  position: absolute;
  left: -4000px;

  /* Set the dimensions. */
  width: 100px;
  height: 100px;
}
.ab {
  background-color: rgb(2, 74, 2);
  width: 50%;
}
.shape {
  width: 100px;
  border: 2px solid red;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  font-size: 20px;
  margin: 5px 0 20px 0;
}

/* Risk Card */
.bow-tie-risk-card-content {
  width: 340px;
  display: grid;
  box-shadow: 10px 10px lightblue;
  border: none;
  border-radius: 10px;
  font-family: "Graphik";
}

.bow-tie-risk-card-body {
  display: grid;
}

.bow-tie-risk-card-header {
  background-color: #323250;
  color: white;
  height: 75px;
}
.bow-tie-risk-card-header-top {
  background-color: #323250;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  border-radius: 10px 10px 0 0;
}

/* .bow-tie-risk-card-header-top-text {
  } */
.bow-tie-risk-card-header-text {
  margin-left: 15px;
  margin-right: 15px;
}

.bow-tie-risk-card-footer {
  background-color: hsl(240, 26%, 93%);
  color: #000000;
  height: 100px;
  border-radius: 0 0 10px 10px;
}

.row {
  display: flex;
}

.column {
  background-color: white;
  width: 50%;
  padding-left: 15px;
}
.bow-tie-risk-rating-details {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: -5px;
}
.bow-tie-risk-rating-details-image {
  width: 50px;
  height: 50px;
}
.bow-tie-risk-rating-details-text {
  position: relative;
  top: -5px;
  margin-left: 5px;
}
/* .bow-tie-risk-rating-details-text {
  margin-top: -10px;
  margin-bottom: 30px;
} */

.bow-tie-risk-footer-details {
  background-color: light gray;
  width: 50%;
  padding-left: 15px;
}

/* Control Card */
.bow-tie-control-card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid grey;
  display: grid;
  width: 400px;
  border-radius: 12px;
  font-family: "Graphik";
}

.bow-tie-control-card-body {
  height: auto;
  padding: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}

.bow-tie-control-card-header {
  background-color: #1b4287;
  color: white;
  text-align: center;
  height: 50px;
  display: grid;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}

.bow-tie-control-type-details {
  display: flex;
  align-items: left;
  line-height: 1;
  margin-bottom: 1px;
}
.bow-tie-control-type {
  margin-right: 10px;
}
.bow-tie-control-type-text {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
 


.bow-tie-control-owner {
  margin-top: -30px;
}
.bow-tie-control-owner-details {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}
.bow-tie-control-owner-image {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
.bow-tie-control-owner-name {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
.bow-tie-control-owner-rating {
  display: flex;
  align-items: left;
  line-height: 1;
  margin-top: 10px;
}
.bow-tie-control-owner-rating-details {
  display: flex;
  align-items: center;
  line-height: 1;
}
.bow-tie-control-owner-rating-icon {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
.bow-tie-control-owner-rating-name {
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.k-diagram {
  height: 1000px;
}

/* Extra Card */
.bow-tie-extra-card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid grey;
  display: grid;
  width: 300px;
  border-radius: 10px;
}

.bow-tie-extra-card-body {
  height: 300px;
  padding: 10px;
}

.bow-tie-extra-card-header {
  background-color: hwb(220 82% 17%);
  color: #000000;
  text-align: center;
  height: 50px;
  display: grid;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.k-diagram {
  height: 1000px;
}

/* Cause Card */
.bow-tie-cause-card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid grey;
  display: grid;
  width: 400px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  font-family: "Graphik";
}

.bow-tie-cause-card-body {
  height: 60px;
}

.bow-tie-cause-card-header {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.bow-tie-cause-card-body {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  display: grid;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

.k-diagram {
  height: 1000px;
}

/*  consequences Card */
.bow-tie-consequences-card-content {
  transition: 0.3s;
  display: grid;
  width: 400px;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.bow-tie-consequences-card-body {
  height: 60px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.bow-tie-consequences-card-header {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

.bow-tie-consequences-card-body {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  display: grid;
  border-radius: 0px 0px 10px 10px;
}

.k-diagram {
  height: 1000px;
}

/* Other Card */
.Bow-tie-Other-card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border: 2px solid rgb(255, 255, 255);
  display: grid;
  width: 420px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 12px;
}

.Bow-tie-Other-card-header {
  background-color: rgb(240, 240, 240);
  color: #000000;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.Bow-tie-Other-card-body {
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  height: 70px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

/* Risk Card-expand */
.bow-tie-risk-card-content-expand {
  border: 2px solid rgb(0, 0, 0);
  width: 340px;
  display: grid;
  box-shadow: 10px 10px lightblue;
  border-radius: 10px;
  font-family: "Graphik";
}

.bow-tie-risk-card-body-expand {
  display: grid;
  padding: 10px;
}

.bow-tie-risk-card-header-expand {
  background-color: hsl(0, 6%, 91%);
  color: #000000;
  height: 75px;
}
.bow-tie-risk-card-header-top-expand {
  background-color: hwb(0 90% 10%);
  color: #000000;
  text-align: center;
  border-bottom: 1px solid white;
  border-radius: 10px 10px 0px 0px;
}

.bow-tie-risk-card-footer-expand {
  border-radius: 0 0 10px 10px;
}

/* .bow-tie-risk-card-header-top-text-expand {
  } */
.bow-tie-risk-card-header-text-expand {
  margin-left: 15px;
  margin-right: 15px;
}

.bow-tie-risk-card-footer-expand {
  background-color: hwb(0 100% 0%);
  color: #000000;
  height: 100px;
  border-radius: 0 0 10px 10px;
}

.rating-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 5px;
}

.k-diagram {
  height: 1000px;
}

/*add css to incident-card-expand */
.bow-tie-incident-expand-reportedby {
  margin-top: 30px;
}

.bow-tie-incident-expand-responsible-officer {
  margin-top: 10px;
}

.bow-tie-incident-expand-responsible-officer-details {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 20px;
}
.bow-tie-incident-expand-responsible-officer-image {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
.bow-tie-incident-expand-responsible-officer-name {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
.bow-tie-incident-expand-reported-details {
  display: flex;
  align-items: left;
  margin-right: 10px;
}
.bow-tie-incident-expand-reported-date {
  margin-top: -10px;
  margin-bottom: 30px;
}


/*add css to KPI-card-expand */

.bow-tie-kpi{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 2px; 
    margin-top: -5px;

}

.bow-tie-unit-flex{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 1px;

}

.bow-tie-unit-text{
    font-size: 15px; 
    color: black;
}

.bow-tie-unit-symbol{
    font-size: 36px; 
    color: blue;
}

.bow-tie-unit-details{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.bow-tie-actual-flex{
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: 20px;
  margin-left: 40px;
}

.bow-tie-actual-text{
  margin-right: 10px; 
  font-size: 15px; 
  color: black;
}

.bow-tie-actual-value{
  margin-right: 10px; 
  font-size: 36px; 
  color: blue;
}

.bow-tie-target-flex{
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
  margin-bottom: 20px;
  margin-right: 40px;
}
.bow-tie-target-text{
  margin-right: 10px; 
  font-size: 15px; 
  color: black;
}
.bow-tie-target-value{
  margin-right: 10px; 
  font-size: 36px; 
  color: blue;
}

.bow-tie-performance-flex{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 20px;
}
.bow-tie-performance-text{
  position: relative; 
  margin-right: 25px; 
  font-size: 18px;
}

.bow-tie-performance-icon{
  width: 20px; 
  height: 20px;

}
.bow-tie-performance-rating{
  position: relative; 
  margin-left: 5px; 
  font-size: 18px;
}

/* Add  CSS to style the toggle switch - expand */
.expandswitch-container {
  width: 40px;
  height: 18px;
  background-color: #ccc;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  margin-left: 1200px;
}

.expandswitch-slider {
  width: 16px;
  height: 16px;
  background-color: #ececec;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.expandswitch-container.active .expandswitch-slider {
  transform: translateX(20px);
}
.expandswitch-container.active {
  background-color: #1b4287;
}

.expandswitch-label {
  margin-left: 1370px;
  font-size: medium;
  position: relative;
  top: 4px;
  left: 4px;
  font-weight: bolder;
}

/* Updated CSS for riskview */
.riskswitch-container {
  width: 40px;
  height: 18px;
  background-color: #ccc;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.riskswitch-slider {
  width: 16px;
  height: 16px;
  background-color: #ececec;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.riskswitch-container.active .riskswitch-slider {
  transform: translateX(20px);
}

.riskswitch-container.active {
  background-color: #1b4287;
}

.riskswitch-label {
  position: absolute;
  top: 20px;
  left: 68px;
  font-weight: bold;
}

/* Updated CSS for kpiview */
.kpiswitch-container {
  width: 40px;
  height: 18px;
  background-color: #ccc;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 130px;
}

.kpiswitch-slider {
  width: 16px;
  height: 16px;
  background-color: #ececec;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.kpiswitch-container.active .kpiswitch-slider {
  transform: translateX(20px);
}

.kpiswitch-container.active {
  background-color: #1b4287;
}

.kpiswitch-label {
  position: absolute;
  top: 20px;
  left: 175px;
  font-weight: bold;
}

/* Updated CSS for performance */
.performanceswitch-container {
  width: 40px;
  height: 18px;
  background-color: #ccc;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 240px;
}

.performanceswitch-slider {
  width: 16px;
  height: 16px;
  background-color: #ececec;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.performanceswitch-container.active .performanceswitch-slider {
  transform: translateX(20px);
}

.performanceswitch-container.active {
  background-color: #1b4287;
}

.performanceswitch-label {
  position: absolute;
  top: 20px;
  left: 285px;
  font-weight: bold;
}

.performance-view {
  background-color: red;
}
