/* @use "variables" as *;
@use "mixins" as *; */
/* 
.k-diagram .km-scroll-wrapper {
  overflow: scroll !important;
  height: 100% !important;
} */

.k-actions, .k-edit-buttons, .k-action-buttons, .k-columnmenu-actions {
  padding: 7px 7px 0px 30px;
}

.k-animation-container
{
  display: none !important;
}

.k-animation-container-shown{
  display: none !important;

}



/* .bow-tie-btn-outline-primary {
  padding: 8px 15px;
  line-height: 0px;
  display: flex;
  place-content: center;
  align-items: center;
  border: 2px solid $camms-button__border-color !important;
  color: $camms-font-color__primary !important;
  font-family: $camms-font__regular;
  background-color: $camms-button-bg__secondary;
  min-width: 85px;
  font-weight: 500;

  i {
      color: $camms-brand-color__primary;
      margin-right: 5px;
      font-size: 17px;
      -webkit-text-stroke: 0.2px;
  }
  .cam-i-filter {
      margin-bottom: -1px;
      &::before {
          line-height: 1;
          margin-bottom: -1px !important;
      }
  }

  span {
      //margin-top: 2px;
      font-family: $camms-font__regular;
      font-size: 14px;
      display: flex;
      align-items: center;
      height: 35px;
      top: -1px;
      position: relative;
  }

  &:hover {
      color: $camms-login__bg !important;
      background-color: #0050a0 !important;
      border: 2px solid $camms-button-hover__border-color !important;
      span {
          margin-top: 2px;
          font-family: $camms-font__regular;
          font-size: 14px;
          color: $camms-login__bg !important;
      }

      i {
          color: $camms-login__bg;
      }
  }
  &:disabled {
      border: 2px solid $camms-button__border-color;
      opacity: 0.4;
  }
}





//....................css from standalone app.................. */


.hide-bow-tie-control-card-content .bow-tie-control-card-content {
  display: none !important;
}

.hide-bow-tie-cause-card-content .bow-tie-cause-card-content {
  display: none !important;
}

.hide-concequences-card-content .bow-tie-consequences-card-content {
  display: none !important;
}

.hide-bow-tie-risk-card-content .bow-tie-risk-card-content {
  display: none !important;
}

.toggle-button {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding: 0 8px;
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  /* Move the rendering container off-screen. */
  position: absolute;
  left: -4000px;

  /* Set the dimensions. */
  width: 100px;
  min-height: 100px;
}
.ab {
  background-color: rgb(2, 74, 2);
  width: 50%;
}
.shape {
  width: 100px;
  border: 2px solid red;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  font-size: 20px;
  margin: 5px 0 20px 0;
}

/* Risk Card */
.bow-tie-risk-card-content {
  width: 400px;
  display: grid;
  border: none;
  border-radius: 10px;
  font-family: "Graphik";
  font-size: 18px;
}

.bow-tie-risk-card-body {
  display: grid;
  min-height: 300px;
  padding: 10px;
}

.bow-tie-risk-card-header {
  background-color: #323250;
  color: white;
  height: auto;
}
.bow-tie-risk-card-header-top {
  background-color: #323250;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  border-radius: 10px 10px 0 0;
}

.bow-tie-risk-card-header-top-text {
  padding: 15px;

  } 
.bow-tie-risk-card-header-text {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
}

.bow-tie-risk-card-footer {
  background-color: hsl(240, 26%, 93%);
  color: #000000;
  height: auto;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.row {
  display: flex;
}

.column {
  background-color: white;
  width: 50%;
  padding-left: 15px;
}
.bow-tie-risk-rating-details {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 5px;
}
.bow-tie-risk-rating-details-image {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
  border-radius: 25px;
}
.bow-tie-risk-rating-details-text {
  position: relative;
  top: -5px;
  margin-left: 5px;
}
/* .bow-tie-risk-rating-details-text {
  margin-top: -10px;
  margin-bottom: 30px;
} */

.bow-tie-risk-footer-details {
  background-color: light gray;
  width: 50%;
  padding-left: 15px;
}

/* Control Card */
.bow-tie-control-card-content {

  transition: 0.3s;
  border: 1px solid grey;
  display: grid;
  width: 400px;
  font-size: 18px;
 
  font-family: "Graphik";
}

.bow-tie-control-card-body {
  min-height: 75px;
  padding: 10px;
 
}

.bow-tie-control-card-header {
  background-color: #1b4287;
  color: white;
  text-align: center;
  min-height: 50px;
  display: grid;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  
}

.bow-tie-control-type-details {
  display: flex;
  align-items: left;
  line-height: 1;
  margin-bottom: 1px;
  margin-top: 10px;
 
}
.bow-tie-control-type {
  margin-right: 10px;
}
.bow-tie-control-type-text {
  width: 50px;
  min-height: 50px;
  margin-top: 2px;
}
 


.bow-tie-control-owner {
  margin-top: -20px;
}
.bow-tie-control-owner-details {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}
.bow-tie-control-owner-image {
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 5px;
  
}
.bow-tie-control-owner-name {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
.bow-tie-control-owner-rating {
  display: flex;
  align-items: left;
  line-height: 1;
  margin-top: 10px;
}
.bow-tie-control-owner-rating-details {
  display: flex;
  align-items: center;
  line-height: 1;
}
.bow-tie-control-owner-rating-icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}


.k-diagram {
  height: 1000px;
 
}

/* Extra Card */
.bow-tie-extra-card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid grey;
  display: grid;
  width: 400px;
  
  border-radius: 10px;
  font-size: 18px;
}

.bow-tie-extra-card-body {
  min-height: 300px;
  padding: 20px;
}

.bow-tie-extra-card-header {
  background-color: #f8f9fa;
  color: #000000;
  text-align: center;
  min-height: 50px;
  display: grid;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}


/* Cause Card */
.bow-tie-cause-card-content {
 
  transition: 0.3s;
  border: 2px solid grey;
  display: grid;
  width: 400px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  font-family: "Graphik";
  font-size: 18px;
}

.bow-tie-cause-card-body {
  min-height: 60px;
}

.bow-tie-cause-card-header {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.bow-tie-cause-card-body {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  display: grid;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

/*  consequences Card */
.bow-tie-consequences-card-content {
  transition: 0.3s;
  display: grid;
  width: 400px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
}

.bow-tie-consequences-card-body {
  min-height: 60px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.bow-tie-consequences-card-header {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

.bow-tie-consequences-card-body {
  background-color: hwb(192 13% 27%);
  color: rgb(255, 255, 255);
  text-align: center;
  display: grid;
  border-radius: 0px 0px 10px 10px;
}

/* Other Card */
.Bow-tie-Other-card-content {
  transition: 0.3s;
  display: grid;
  width: 400px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 12px;
  font-size: 18px;
}

.Bow-tie-Other-card-header {
  background-color: #f8f9fa;
  color: #000000;
  text-align: center;
 
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.Bow-tie-Other-card-body {
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  min-height: 70px;
  border-radius: 0px 0px 10px 10px;
 
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

/* Risk Card-expand */
.bow-tie-risk-card-content-expand {
  width: 400px;
  display: grid;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 18px;
  
}

.bow-tie-risk-card-body-expand {
  display: grid;
  height: auto;
  padding: 10px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.bow-tie-risk-card-header-expand {
  background-color:  #f8f9fa;;
  color: #000000;
  height: auto;
}
.bow-tie-risk-card-header-top-expand {
  background-color: #f8f9fa;
  color: #000000;
  text-align: center;
  min-height: 50px;
  display: grid;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
 
}



/* .bow-tie-risk-card-header-top-text-expand {
  } */
.bow-tie-risk-card-header-text-expand {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  text-align: left;
  padding: 10px;;
}

.bow-tie-risk-card-footer-expand {
  background-color: hwb(0 100% 0%);
  color: #000000;
  height: auto;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  
}

.rating-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 5px;
}



/*add css to incident-card-expand */
.bow-tie-incident-expand-reportedby {
  margin-top: 30px;
}

.bow-tie-incident-expand-responsible-officer {
  margin-top: 10px;
}

.bow-tie-incident-expand-responsible-officer-details {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 20px;
}
.bow-tie-incident-expand-responsible-officer-image {
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 5px;
  border-radius: 25px;
}
.bow-tie-incident-expand-responsible-officer-name {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
.bow-tie-incident-expand-reported-details {
  display: flex;
  align-items: left;
  margin-right: 10px;
}
.bow-tie-incident-expand-reported-date {
  margin-top: 2px;
  margin-bottom: 30px;
}


/*add css to KPI-card-expand */

 

.bow-tie-kpi{

  display: flex;

  align-items: center;

  justify-content: center;

  margin-bottom: 2px;

  margin-top: -5px;



}



.bow-tie-unit-flex{

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: center;

  margin: 20px 5px 5px 5px ;



}



.bow-tie-unit-text{

  font-size: 18px;

  color: black;

 

}



.bow-tie-unit-symbol{

  font-size: 30px;

  color: #0050a0;

  position: relative;

  left: 10px;

  font-weight: bold;

}



.bow-tie-unit-details{

display: flex;

align-items: center;

justify-content: space-around ;

}



.bow-tie-actual-flex{

display: flex;

flex-direction: column;

align-items: flex-start;

margin-bottom: 20px;

margin-left: 40px;

}



.bow-tie-actual-text{

  margin-right: 10px;

  font-size: 18px;

  color: black;

  position: relative;

}



.bow-tie-actual-value{

  margin-right: 15px;

  font-size: 20px;

  color: #0050a0;

  position: relative;

  left: 10px;

  font-weight: bold;

}



.bow-tie-target-flex{

  display: flex;

  flex-direction: column;

  align-items: flex-end;

  margin-bottom: 20px;

  margin-right: 40px;

}

.bow-tie-target-text{

  margin-right: 10px;

  font-size: 15px;

  color: black;

  position: relative;

}

.bow-tie-target-value{

  margin-right: 10px;

  font-size: 20px;

  color: #0050a0;

  position: relative;

  right: 10px;

  font-weight: bold;

}



.bow-tie-performance-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.bow-tie-performance-text{
  position: relative;
  margin-right: 30px;
  font-size: 15px;

}



.bow-tie-performance-icon{
  width: 20px;
  height: 20px;
}

.performanceIndicator-badge{
  margin-right:10px;
}

.bow-tie-performance-rating
{
    position: relative;
    margin-left: 2px;
    font-size: 15px;
}



/*css for header tool bar  */


#toolbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
 
  min-height: 55px;
}

/* Style of buttons */

.bt-analsys-header-txt {
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%); 
  font-family: "Graphik Regular Desktop", Sans-serif;
  font-size: 20px;
  margin-bottom: 0;
  color: #323250;
}

.bt-Reload{
  padding: 10px;  
}

.button-flex{
  position: absolute;
  top: 50%; 
  right: 0px; 
  transform: translate(-7%, -50%);
  padding: 1px;
  

}

.slider{
  /* // border-left: 2px solid #0050a0;
  // border-right: 2px solid #0050a0; */
  height: 25px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  
}

/* Style for the "zoom" container */
.zoom {
  border: 2px solid #0050a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  height: 30px;
  padding: 10px 10px 10px 10px;
}

/* Style for the clickable icons */
.zoomIcon {
  cursor: pointer;
  padding-top: 8px;
 
}

/* Style for the zoom out icon */
.zoomOutIcon::before {
  content:  url("/assets/bow-tie/icon/Zoom-Out.png") !important;
  padding: 10px 10px 10px 8px;
  
}

/* Style for the zoom in icon */
.zoomInIcon::before {
  content: url("/assets/bow-tie/icon/Zoom-In.png") !important;
  padding: 10px 8px 10px 10px;
  
}

.k-slider .k-button {
  flex: none;
  display: none;
}

.expand-icon {
  content: url("/assets/bow-tie/icon/expand-icon.png") !important;
  padding: 10px 5px 8px 0px;
}


/* Media query for smaller screens (e.g., max-width: 768px) */
@media (max-width: 760px) {
  
  .bt-analsys-header-txt {
    text-align: left; 
    flex-direction: column; /* Display buttons in a column for smaller screens */
    align-items: flex-start;/* Align text to the left for smaller screens */
  }

  .button-flex {
    flex-direction: column; /* Display buttons in a column for smaller screens */
    align-items: flex-start; /* Align buttons to the left for smaller screens */
  }

  .bt-Reload,
  .bt-Risk,
  .bt-Kpi,
  .bt-Performance,
  .bt-Expand,
  .btn-Export {
    width: 100%; /* Make buttons full-width for smaller screens */
    margin-bottom: 10px; /* Add some spacing between buttons */
  }
}







.bt-Expand.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.bt-Risk.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.bt-Kpi.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.bt-Performance.active {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.btActive {
  background-color: #0050a0 !important;
  color: #fff !important;
}







.performanceIndicator-badge {
  border-radius: 25px;
  padding: 10px;
  width: 10px;
  height: 10px;
}
.performanceIndicator-text {
  white-space: nowrap;
  padding-left: 4px;
}
.na-badge {
  background-color: #cccccc;
}

.onTrack-badge {
  background-color: #40b86e;
}

.offTrack-badge {
  background-color: #e54257;
}

.monitor-badge {
  background-color: #faab2c;
}


.k-slider .k-button {
  flex: none;
  display: none;
}