/* You can add global styles to this file, and also import other style files */
.hide-control-card-content .control-card-content {
    display: none !important;
}
  
.hide-cause-card-content .cause-card-content {
    display: none !important;
}

.hide-concequences-card-content .consequences-card-content  {
    display: none !important;
}
 
  
.hide-risk-card-content .risk-card-content {
    display: none !important;
}
